<?xml version="1.0"?>
<configuration>
    	<system.web>
     		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    	</system.web>
    	<appSettings>
            <add key="cybs.merchantID" value="valtim" />
            <add key="cybs.keysDirectory" value="\\10.0.0.42\C$\inetpub\wwwroot\key\" />
            <add key="cybs.sendToProduction" value="true" />
	    </appSettings>
</configuration>
